<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MindtekTestNGFramework">
    <test name="UI Automation">
          <groups>
              <run>
                  <include name="testbase"/>
                  <include name="regression"/>
              </run>
          </groups>
        <classes>
            <class name="tests.FrameworkTest"></class>
            <class name="tests.SauceDemoLoginTest"></class>
            <class name="tests.BlazeDemoLinkText"></class>
            <class name="tests.BankSignUpTest"></class>
            <class name="tests.SaucedemoPriceSortTest"></class>
        </classes>
    </test>
    <test name="API Automation">
    </test>
    <test name="Mobile Automation">
    </test>
</suite>